.CatelogContainer{
    margin-top: 100px;
    margin-bottom: 100px;
}

.catelogHero{
    height: 506px;
    backdrop-filter: blur(10px);
    width: 100%;
    background-size: cover;
    background-position: top;
}

.CatelogContainerFlex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: var(--margin-border);
}

.CatelogBox {
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: start;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 506px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.catlogText h1{
    color: var(--secondary-color);
}

.catlogText h1 span{
    color: var(--price-color);
}


.CatelogBox  .lo{
    background-color: #CB4154;
    width: 100%;
    padding: 30px 0 30px;
    margin: 0;
    margin-bottom: 40px;
    text-align: center;
}

.CatelogBox > div h1{
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
}

.catelogHero{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 50px;
    backdrop-filter: blur(10px);
}



.catlogText{
    text-align: center;
}