@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root{
    --primary-color: #FF975C;
    --secondary-color: #116699;
    --text-color: #000000;
    --price-color: #CB4154;
    --seeAll-color: #7A7A7A;
    --border-radius: 10px;
    --margin-border: 0 100px 0px 100px;
    --sm: 0 50px 0 50px;
    --margin-top: 50px
}